[Desktop Entry]
Name=GL-117
Comment=An OpenGL and SDL based action flight simulator
Comment[de]=Ein OpenGL- und SDL-basierter Flugsimulator
Comment[pl]=Zręcznościowy symulator lotu używający OpenGL i SDL
Exec=gl-117
Icon=gl-117
Terminal=false
Type=Application
Categories=Game;Simulation;
# vi: encoding=utf-8
